.heading{
border-bottom:2px solid rgb(232, 236, 214); ;
background-color: rgb(176, 198, 182);
}
.G_service{
    background-color:rgb(232, 236, 214);
}
.box{
    height: 100px;
    background-color:rgb(176, 198, 182);
    border-radius: 16px;
}
.ta{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    text-align:center;
    color:cadetblue;
}
